.contact-wrapper {
  margin-left: 1in;
  margin-right: 1in;

  h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
  }

  p {
    font-size: 1rem;
    color: #6c6c6c;
    margin-bottom: 20px;
  }
}

.contact-form {
  padding-top: 20px;

  button {
    float: right;
    background-color: white;
    color: #050f0b;
    text-transform: none;
    font-family: 'DomaineDispNar-Medium', sans-serif;
  }

  button:hover {
    background-color: #5000ca;
    color: white;
  }

  fieldset {
    background-color: white;
  }
}

label {
  font-size: 1.2rem;
  font-family: 'DomaineDispNar-Medium', sans-serif;
}

.form-flex {
  display: flex;
  gap: 15px;
  padding-bottom: 15px;
}

.form-flex .MuiFormControl-root {
  width: 100%;
}

form {
  width: 100% !important;
}

.body-form {
  width: 100% !important;
  margin-bottom: 15px !important;
}

button[type="submit"] {
  background-color: #5000ca;
  color: white;
  text-transform: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
}

button[type="submit"]:hover {
  background-color: #6200ea;
  color: white;
}

.MuiTextField-root {
  width: 100%;
}

.MuiTextField-root .MuiInputLabel-root {
  font-size: 1rem;
  font-family: 'DomaineDispNar-Medium', sans-serif;
}

.MuiTextField-root .MuiInputBase-root {
  font-size: 1rem;
  padding: 10px;
}

.MuiTextField-root .MuiFormHelperText-root {
  font-size: 0.8rem;
}
